{% extends 'base.html' %}

{% block content %}

  <!-- Header -->
  <header>
    <div class="container" id="maincontent" tabindex="-1">
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
          </div>
      </div>
      <div class="row">
        <div class="intro-text">
          <h1 class="name">We are generating your data, please wait a few seconds...</h1>
      </div>
  </header>
<body id="page-top" class="index">

<script>
    $.ajax({
        type: 'POST',
        url: '/result/',
        data: {
            img_id_to_display: '{{ img_id_to_display }}',
        },
        complete: function() {
          setTimeout(function () {
            window.location.replace('/result/');
          }, 10000);
        }
      });
</script>



<div id="skipnav"><a href="#maincontent">Contenu principal</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                  <a class="navbar-brand" href="/">Cityscape - FPN model prediction</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



{% endblock %}
